.Toolbar {
  cursor: pointer;
  display: flex;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  border-bottom: 1px solid var(--linegrey);
}

.SelectAllButton {
  border-right: 1px solid var(--linegrey);
}

.SelectAllButton,
.DeselectAllButton {
  flex-grow: 1;
  text-align: center;
}

.SelectAllButton:hover,
.DeselectAllButton:hover {
  font-weight: bold;
}
